- var task_exist = typeof task != 'undefined';
- var action = task_exist ? '/update' : '/store';
form(action=action method="post")
	if task_exist
		input(type="hidden" name="cluster" value=task['@rid'].cluster)
		input(type="hidden" name="position" value=task['@rid'].position)
	div.form-group
		label(for="todo") Todo
		input.form-control(type="text" name="todo" placeholder="Todo" value=task_exist ? task.todo : "")
	div.form-group
		label(for="parent_id") Parents
		select.select2.form-control(name="parent_ids" multiple)
			option(default value="")
			each item in tasks
				if task_exist
					if task.id != item.id
						if task.parent_ids.indexOf(item.id.toString()) > -1
							option(value=item.id selected)= item.todo
						else
							option(value=item.id)= item.todo
				else
					option(value=item.id)= item.todo
	button.btn.btn-primary(type="submit") Submit
	a.btn(href="/") Back